body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}

.middle-section {
  overflow-y: auto;
  height: calc(100vh - 4rem);
  /* Adjust according to Navbar height */
}

.good-scroll {
  /* Custom scrollbar styles */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: gray transparent; /* For Firefox */
}

.good-scroll::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.good-scroll::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.good-scroll::-webkit-scrollbar-thumb {
  background-color: gray; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid transparent; /* Space around the thumb */
  background-clip: content-box; /* Clip the background to the content box */
}

.left-section,
.right-section {
  position: sticky;
  top: 0;
}